html {
	scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Kanit,sans-serif;
	background-color: #000;
 
	
	height: 100%;

}


.topnav {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	background-image: url("stars7-1.gif");

}

.topnav a {
	font-size: 45px;
	text-decoration: none;
	padding: left: 40px;
	padding-right: 40px;
	color: #00c4ff;
	transition: 0.5s ease-in-out;
	overflow: hidden;
	
}

.topnav a:hover {
	color: #00ffd0;
	
}

.topnav a:focus {
	color: #00ffd0;
}



.textcontainer {
	display: flex;
	flex-direction: row-reverse;
	padding-top: 150px;
	padding-bottom: 100px;
	align-items: center;
  justify-content: center;
	
}
.textcontainer h1 {
	color: #6b80f3;
	text-align: center;
	font-size: 50px;
	z-index: 1;
  position: relative;
  top: 130px;
	
}

.slide-1, .slide-2, .slide-3, .slide-4 {
	display: block;
	position: absolute;
	width: 500px;
	height: auto;
}

.slide-1 {
	animation: fade1 20s infinite;

}

.slide-2 {
	animation: fade2 20s infinite;
}

.slide-3 {
	animation: fade3 20s infinite;
}

.slide-4 {
	animation: fade4 20s infinite;
}

@keyframes fade1 {
	0%{opacity: 0;}
	25%{opacity: 1;}
	50%{opacity: 0;}
	75%{opacity: 0;}
	100%{opacity: 0;}
	
	
}

@keyframes fade2 {
	0%{opacity: 0;}
	25%{opacity: 0;}
	50%{opacity: 1;}
	75%{opacity: 0;}
	100%{opacity: 0;}
	
}

@keyframes fade3 {
	0%{opacity: 0;}
	25%{opacity: 0;}
	50%{opacity: 0;}
	75%{opacity: 1;}
	100%{opacity: 0;}
	
}

@keyframes fade4 {
	0%{opacity: 0;}
	25%{opacity: 0;}
	50%{opacity: 0;}
	75%{opacity: 0;}
	100%{opacity: 1;}
	
}

.content h1 {
	color: #fff;
	text-align: center;
}

.textcontainer img{
	height: 400px;
	width: 700px;

}

#discography, #filmography, #tours{
	color: #7fa6b9;
	text-align: center;
	font-size: 30px;
	padding-top: 200px;
}



.tribute-info img {
	width: 500px;
	height: auto;
}

#tribute-link {
	color: #8540ff;
}

#tribute-link:hover {
  color: #5226a1;
}

@media screen and (max-width: 500px) {

  .topnav a {
  	font-size: 100%;
  }

}

@media screen and (min-width: 500px) and (max-width: 820px) {
 

  .topnav a {
  	font-size: 150%;
  }

 
}





