body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
    background-image: url("../assets/Thor-avengers.jpg");
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 8px;
    text-align: center;
    padding: 20px;
    font-size: 26px;
    text-decoration: none;
    color: #eba6a6;
}

li a:hover {
    color: #eb6666;
}

#icon {
    float: left;
    width: 70px;
    height: 70px;
    padding-left: 50px;
}

nav {
    background-image: linear-gradient(#7c0000, #000, #000, #000, #7c0000);
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;

}

.content {
    padding-top: 80px;
    padding-left: 100px;
    margin-bottom: 100px;
}

h1 {
    font-size: 90px;
    color: #ab8d8d;
}

blockquote {
    font-size: 28px;
    color: #ab8d8d;
    width: 600px;
}

.footer {

    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #280202;
    color: white;
    text-align: center;
}

.footerImg {
    height: 40px;
    width: 40px;
    margin: 10px;
}

.footer a {
    text-decoration: none;
}

.footer p {
    font-size: 18px;
}